# Fly.io Configuration
# Set build command and runtime

app = "kajuna-md"
primary_region = "iad"

[env]
WHATSAPP_NUMBER = "255760898010"
NODE_ENV = "production"

[build]
builder = "heroku/buildpacks:20"

[build.args]
NODE_ENV = "production"

[[services]]
internal_port = 3000
protocol = "tcp"
auto_stop_machines = true
auto_start_machines = true

[[services.tcp_checks]]
grace_period = "5s"
interval = "15s"
timeout = "2s"

[[services.http_checks]]
interval = 10000
timeout = 2000
grace_period = 5000
path = "/api/bot?action=status"
protocol = "http"
method = "GET"
handlers = ["http"]
force_https = true
